In [19]:
import pandas as pd
import numpy as np

import mlflow
from sklearn.datasets import fetch_20newsgroups

In [20]:
categories = ['alt.atheism', 'soc.religion.christian',
              'comp.graphics', 'sci.med']

In [21]:
twenty_train = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

In [22]:
df = pd.DataFrame({'text':twenty_train['data']})
df['target'] = twenty_train['target']
df

                                                   text  target
0     From: sd345@city.ac.uk (Michael Collier)\nSubj...       1
1     From: ani@ms.uky.edu (Aniruddha B. Deglurkar)\...       1
2     From: djohnson@cs.ucsd.edu (Darin Johnson)\nSu...       3
3     From: s0612596@let.rug.nl (M.M. Zwart)\nSubjec...       3
4     From: stanly@grok11.columbiasc.ncr.com (stanly...       3
...                                                 ...     ...
2252  From: roos@Operoni.Helsinki.FI (Christophe Roo...       2
2253  From: mhollowa@ic.sunysb.edu (Michael Holloway...       2
2254  From: sasghm@theseus.unx.sas.com (Gary Merrill...       2
2255  From: Dan Wallach <dwallach@cs.berkeley.edu>\n...       2
2256  From: dyer@spdcc.com (Steve Dyer)\nSubject: Re...       2

[2257 rows x 2 columns]

In [9]:
tfidf_model = mlflow.pyfunc.load_model("runs:/52a764b531274036a25b609cb83238b3/custom_tfidf_model")

In [23]:
tfidf_model.predict([df['text'].sample(5), df['text'].sample(5)])

array([[0.10103744, 0.20234828, 0.21577128, 0.23916653, 0.35789933],
       [0.24361293, 0.10391251, 0.18714837, 0.09937917, 0.35594725],
       [0.16857476, 0.07035492, 0.26437138, 0.27699784, 0.1385567 ],
       [0.13891324, 0.23502246, 0.17439031, 0.12885586, 0.37196673],
       [0.02745346, 0.04943041, 0.0187703 , 0.11780421, 0.02617084]])